<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{{pageTitle}}</title>
</head>
<body>
    {{>header}}
    {{>navBar}}
    {{{body}}}

    <script>
        function performSearch() {
            const selectedCategory = document.getElementById('categorySelect').value;
            const searchQuery = document.getElementById('searchInput').value;

            let apiUrl = '/api/products';

            // Agregar la categoría al URL si se seleccionó una categoría
            if (selectedCategory !== 'all') {
                apiUrl += `?category=${selectedCategory}`;
            }

            // Agregar el término de búsqueda al URL si se proporcionó
            if (searchQuery) {
                apiUrl += apiUrl.includes('?') ? `&search=${searchQuery}` : `?search=${searchQuery}`;
            }

            // Realizar la solicitud GET al servidor
            fetch(apiUrl)
                .then(response => response.json())
                .then(data => {
                    // Manejar la respuesta del servidor, por ejemplo, renderizar los resultados
                    console.log(data);
                })
                .catch(error => console.error('Error:', error));
        }   
        
    </script>
</body>
</html>