<div class="login"> 
    <h1>Login</h1>
    <form>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Email" autocomplete="on">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password" autocomplete="on">
        </div>
        <button type="submit">Login</button>
    </form>
    <p class="alreadyAccount">Forgot your password? Click <a href="/verifyidentity">here</a></p>
    <div class="githubBtn">
        <a class="githubLogin" href="/githublogin"><img src="" alt=""> Login with Github</a>
    </div>
</div>  

<script src="/static/js/login.js"></script>