<div class="login">
    <h1>Profile</h1>
    <p>Name: <span id="user_name"></span></p>
    <p>Surname: <span id="user_surname"></span></p>
    <p>Email: <span id="user_email"></span></p>

    <a href="/edit">Edit your info</a>
    <a id="logout" href="#">Logout</a>
</div>

<script src="/static/js/profile.js"></script>