<div class="login">
    <h1>Profile</h1>
    <p>Name:{{first_name}}</p>
    <p>Surname: <span id="last_name"></span>{{last_name}}</p>
    <p>Email: <span id="email"></span>{{email}}</p>

    <a href="/edit">Edit your info</a>
    <a id="logout" href="#">Logout</a>
</div>

<script src="/static/js/profile.js"></script>