<h1>Profile</h1>
<p>Name: {{name}}</p>
<p>Surname: {{surname}}</p>
<p>Email: {{email}}</p>
<p>Rol: {{rol}}</p>

<form>
    <button type="submit">Logout!</button>
</form>

<script src="/static/js/profile.js"></script>