<h1>Restore password</h1> 
<form>
    <label for="email">Email</label>    
    <input type="email" name="email" placeholder="email" autocomplete="on" required>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="password" autocomplete="on" required>
    <button type="submit">Set new password</button>
</form>
<p>Did you remembered it? Try again the <a href="/login">login</a></p>

<script src="/static/js/resetpassword.js"></script>