<div class="login">
  <h1>Restore your password</h1>
  <p>Insert your mail to verify your identity</p>
  <form>
    <div>
        <label for="mail" class="form_label">Insert your mail</label>
        <input type="mail" class="form_input" id="thumbnail" placeholder="Mail">
    </div>
    <button type="submit">Verify your identity</button>
  </form>
  <p>Did you remember it? Try again the <a href="/login">login</a></p>
</div>  

<script src="/static/js/login.js"></script>
    